@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html, body {
  height: 100%;
}


body {
  background-color: #f4f9fd;
  /* border: 1px solid blue; */
}


::-webkit-scrollbar {
  width: 1px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (min-width: 1580px) {
  body {
    /* font-size: 85% !important; */
  }
}
